<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script>
        var bookApp = angular.module('bookApp', []);
        bookApp.controller('bookCtrl', function($scope, $http) {
            $http.get("http://localhost:8080/view/listBooks").then(function(response) {
                $scope.myData = response.data;
            });
        });
    </script>
</head>
<body>
<h1>Books list</h1>

<div ng-app="bookApp" ng-controller="bookCtrl">
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
        <tr ng-repeat="x in myData">
            <td>{{x.id}}</td>
            <td>{{x.bookTitle}}</td>
            <td>{{x.bookAuthor}}</td>
            <td>{{x.price}}</td>
        </tr>
    </table>
</div>
</body>
</html>