<html lang="en" ng-app="bookApp">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script>
        var bookApp = angular.module('bookApp', []);
        bookApp.controller('bookCtrl', function($scope, $http) {
            var baseURL = "http://localhost:8080/view";

            $scope.getAllBooks = function () {
                $http.get(baseURL + "/listBooks").then(function(response) {
                    $scope.myData = response.data;
                });
            };

            $scope.addBook = function () {
                $http.post(baseURL + "/addBook", {
                    "bookTitle":$scope.bookTitle,
                    "bookAuthor":$scope.bookAuthor,
                    "price":$scope.bookPrice
                }).then(function (response) {
                    $scope.getAllBooks();
                });
            }



        });
    </script>
</head>

<body class="container-fluid" ng-controller="bookCtrl">
    <div class="row">
        <div class="col-md-4">
            <h3><p class="text-center"><strong>Add book form</strong></p></h3>

            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control" name="bookTitle" ng-model="bookTitle" placeholder="Book title" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="bookAuthor" ng-model="bookAuthor" placeholder="Book author" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="bookPrice" ng-model="bookPrice" placeholder="Book price" required>
                </div>
                <button type="submit" ng-click="addBook()" class="btn btn-success">Add book</button>
            </form>
        </div>

        <div class="col-md-8">
            <h3><p class="text-center"><strong>List of books</strong></p></h3>

            <div>
                <table class="table table-striped" ng-init="getAllBooks()">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th width="10"></th>
                    </tr>
                    <tr ng-repeat="x in myData">
                        <td>{{x.id}}</td>
                        <td>{{x.bookTitle}}</td>
                        <td>{{x.bookAuthor}}</td>
                        <td>{{x.price}}</td>
                        <td>
                            <button type="button" ng-click="" class="btn btn-success custom-width">Edit</button>
                            <button type="button" ng-click="" class="btn btn-danger custom-width">Remove</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>