<html lang="en" ng-app="myApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script>
    var myApp = angular.module('myApp', []);
    myApp.controller('myCtrl', function($scope, $http) {
        var urlBase="http://localhost:8080/view";
        $http.get(urlBase+'/books').
        success(function(data) {
            $scope.books = data;
        })
    });
</script>

<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <a href="index.html">Back to main menu</a><br/><br/>
    <h1>Book list</h1>
    <table class="tg" ng-controller="myCtrl">
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>AUTHOR</th>
            <th>PRICE</th>
        </tr>
        <tr ng-repeat="book in books">
            <td>book.id</td>
            <td>book.bookTitle</td>
            <td>book.bookAuthor</td>
            <td>book.price</td>
        </tr>

    </table>
</body>
</html>